/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
/* line 18, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
body {
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

/* line 23, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar-default {
  background-color: #f4f4f4;
  margin-top: 50px;
  border-width: 0;
  z-index: 5;
}

/* line 24, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li:hover > a {
  border: 0 solid #4285f4;
  border-bottom-width: 2px;
  font-weight: 800;
  background-color: transparent;
}

/* line 25, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar-default .dropdown-menu {
  background-color: #ffffff;
}

/* line 26, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar-default .dropdown-menu li > a {
  padding-left: 30px;
}

/* line 27, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar {
  z-index: 3;
}

/* line 31, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar #background {
  background-color: #000033;
  color: white !important;
  display: none;
  opacity: .9;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* line 41, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.container {
  margin-top: -100px;
}

/* line 44, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
#pic {
  height: 400px;
  background: url(http://s28.postimg.org/58udauatp/49ae2d61_f85d_486f_a0e5_936c4ea1b743.jpg) no-repeat;
  -webkit-background-size: cover;
  width: 100%;
}

/* line 50, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.header {
  border-width: 0;
  color: white;
  /*	-webkit-background-size: cover;*/
  background-color: transperent;
}

/* line 56, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.navbar .navbar-fixed-top .header
.btn, .form-control, .panel, .list-group, .well {
  border-radius: 1px;
  box-shadow: 0 0 0;
}

/* line 58, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.form-control {
  border-color: #d7d7d7;
}

/* line 59, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-primary {
  border-color: transparent;
}

/* line 60, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #4285f4;
}

/* line 61, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-plus {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #dddddd;
  box-shadow: 1px 1px 0 #999999;
  border-radius: 3px;
  color: #666666;
  text-shadow: 0 0 1px #bbbbbb;
}

/* line 62, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.well, .panel {
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
}

/* line 63, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-success, .label-success, .progress-bar-success {
  background-color: #65b045;
}

/* line 64, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-info, .label-info, .progress-bar-info {
  background-color: #a0c3ff;
  border-color: #a0c3ff;
}

/* line 65, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-danger, .label-danger, .progress-bar-danger {
  background-color: #dd4b39;
}

/* line 66, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.btn-warning, .label-warning, .progress-bar-warning {
  background-color: #f4b400;
  color: #444444;
}

/* line 68, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
hr {
  border-color: #ececec;
}

/* line 69, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
button {
  outline: 0;
}

/* line 72, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
textarea {
  resize: none;
  outline: 0;
}

/* line 76, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .btn i, .btn span {
  color: #666666;
}

/* line 79, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .panel-heading {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #262626;
  border-color: #ffffff;
}

/* line 86, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .panel-heading a {
  font-weight: 400;
  font-size: 11px;
}

/* line 90, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .panel-default {
  border-color: #cccccc;
}

/* line 93, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .panel-thumbnail {
  padding: 0;
}

/* line 96, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.panel .img-circle {
  width: 50px;
  height: 50px;
}

/* line 100, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

/* line 103, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
h3, h4, h5 {
  border: 0 solid #efefef;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

/* line 108, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.modal-dialog {
  width: 450px;
}

/* line 111, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.modal-footer {
  border-width: 0;
}

/* line 114, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.dropdown-menu {
  background-color: #f4f4f4;
  border-color: #f0f0f0;
  border-radius: 0;
  margin-top: -1px;
}

/* end theme */
/* template layout*/
/* line 123, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
#subnav {
  position: fixed;
  width: 100%;
}

@media (max-width: 768px) {
  /* line 129, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
  #subnav {
    padding-top: 6px;
  }
}
/* line 134, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
#main {
  padding-top: 120px;
}

/* masonry CSS */
/* line 140, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid {
  background: #DDD;
}

/* clear fix */
/* line 146, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
/* line 156, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid-sizer,
.grid-item {
  /* image margins on side for frame */
  width: 31%;
  margin: 10px;
}

/* line 165, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid-item {
  float: left;
  background: white;
}

/* line 170, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid-item p {
  padding: 10px;
}

/* line 174, /Users/AustinKihara/Rails_Projects/kwikpost/app/assets/stylesheets/application.css.scss */
.grid-item img {
  display: block;
  max-width: 100%;
}
