<h1>Selling</h1>
<div class="grid">
  <div class="grid-sizer">
	<% @products.each do |product| %>
        <div>
        <a href="/products/show/<%= product.id %>">
		  <%= image_tag product.avatar.url(:medium) %>
        <p><%= product.title %></p></a>  
        </div>
	<% end %>
  </div>
</div>