<h1>Selling</h1>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
	<div class="box col3">
	<% @products.each do |product| %>
        <div class="grid-item">
        <a href="/products/<%= product.id %>">
		  <div><%= image_tag product.avatar.url(:medium) %></div>
		  
        <p><%= product.title %></p></a>  
        </div>
	<% end %>
  </div>
</div>
</div>