<h1>Selling</h1>
<div class="grid">
  <div class="grid-sizer">
	<% @products.each do |product| %>
        <div class="grid-item">
		  <%= image_tag product.avatar.url %>
          <p><%= product.title %></p>
        </div>
	<% end %>
  </div>
</div>