<h1>Selling</h1>
<div class="grid">
  <div class="grid-sizer">
	<% @products.each do |product| %>
        <div>
		  <%= image_tag product.avatar.url(:thumb) %>
          <p><%= product.title %></p>
        </div>
	<% end %>
  </div>
</div>