<h1>Selling</h1>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
	<div class="box col3">
	<% @products.each do |product| %>
        <div>
        <a href="/products/show/<%= product.id %>">
		  <%= image_tag product.avatar.url(:thumb) %>
        <p><%= product.title %></p></a>  
        </div>
	<% end %>
  </div>
</div>