<!-- <html>
<head>
   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.js"></script>

<script>
$( document ).ready(function() {
    $('#btnToggle').click(function(){
  if ($(this).hasClass('on')) {
    $('#main .col-md-6').addClass('col-md-4').removeClass('col-md-6');
    $(this).removeClass('on');
  }
  else {
    $('#main .col-md-4').addClass('col-md-6').removeClass('col-md-4');
    $(this).addClass('on');
  }
});
  });
</script>
<script>
// external js: masonry.pkgd.js, imagesloaded.pkgd.js
$(document).ready( function() {
  // init Masonry after all images have loaded
  var $grid = $('.grid').imagesLoaded( function() {
    $grid.masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    }); 
  });
});
</script>
<!-- </head> -->
<!-- <body> -->
<div id="pic"></div>
<div class="container" id="main">
   <div class="row">
    <div class="col-md-2 col-sm-6">
        <div class="panel panel-default" id="cat_back">
          <div class="panel-heading" id="cat_back"><h4>Categories</h4></div>
        <div class="panel-body">
              <div class="list-group">
                <% @categories.each do |category| %>
                  <a href="#"><%= category.name %></a> <br>
                <% end %>
              </div>
            </div>
      </div>
    </div>
<div class="col-md-10">
  <div class="scroll panel panel-default">
    <div class="grid">
      <div class="grid-sizer">
        <% @products.each do |product| %>
        <div class="grid-item">
          <%= image_tag product.avatar.url %>
          <p><%= product.title %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <!-- script references -->
<!-- </html> -->
