<html>
<head>

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
    <script src="http://desandro.github.io/imagesloaded/imagesloaded.pkgd.js"></script>

<script>
$( document ).ready(function() {
    $('#btnToggle').click(function(){
  if ($(this).hasClass('on')) {
    $('#main .col-md-6').addClass('col-md-4').removeClass('col-md-6');
    $(this).removeClass('on');
  }
  else {
    $('#main .col-md-4').addClass('col-md-6').removeClass('col-md-4');
    $(this).addClass('on');
  }
});
  });
</script>
<script>
// external js: masonry.pkgd.js, imagesloaded.pkgd.js
$(document).ready( function() {
  // init Masonry after all images have loaded
  var $grid = $('.grid').imagesLoaded( function() {
    $grid.masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    }); 
  });

});
</script>

<script>
$(window).scroll(function() {
    if ($(this).scrollTop() > 400) {
        $( ".navbar #background" ).fadeIn();
        console.log('fade in');
    } else {
        console.log('there');
        $( ".navbar #background" ).fadeOut();
    }
});</script>
</head>

</head>

<body>

<!--main-->
  <div id="pic"></div>
<!-- <div class="container" id="main"> -->
   <div class="row">
    <div class="col-md-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading" id="cat_back"><h4>Categories</h4></div>
        <div class="panel-body">
              <div class="list-group">
                  <a href="#">Antiques</a> <br>
                  <a href="#">Appliances</a> <br>
                  <a href="#">Auto Parts</a> <br>
                  <a href="#">Bicycles</a> <br>
                  <a href="#">Boats & Marine</a> <br>
                  <a href="#">Beauty & Health</a> <br>
                  <a href="#">Clothes</a> <br>
                  <a href="#">Electronics</a> <br>
                  <a href="#">Games</a> <br>
                  <a href="#">Jewelry</a> <br>
              </div>
            </div>
      </div>
    </div>
<div class="col-md-10">

  <div class="scroll panel panel-default">
    <div class="grid">
      <div class="grid-sizer">
        <div class="grid-item">
          <img src="http://i.imgur.com/bwy74ok.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/bAZWoqx.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/PgmEBSB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/aboaFoB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/LkmcILl.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/q9zO6tw.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/r8p3Xgq.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/hODreXI.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
          <div class="grid-item">
          <img src="http://i.imgur.com/bwy74ok.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/bAZWoqx.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/PgmEBSB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/aboaFoB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/LkmcILl.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/q9zO6tw.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/r8p3Xgq.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/hODreXI.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
          <div class="grid-item">
          <img src="http://i.imgur.com/bwy74ok.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/bAZWoqx.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/PgmEBSB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/aboaFoB.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/LkmcILl.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/q9zO6tw.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/r8p3Xgq.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/hODreXI.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/octocat-de-los-muertos.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/foundingfather_v2.png" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/octocat-de-los-muertos.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/foundingfather_v2.png" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/octocat-de-los-muertos.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/foundingfather_v2.png" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/octocat-de-los-muertos.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/foundingfather_v2.png" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/octocat-de-los-muertos.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="https://octodex.github.com/images/foundingfather_v2.png" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/q9zO6tw.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/r8p3Xgq.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/hODreXI.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/q9zO6tw.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/r8p3Xgq.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/hODreXI.jpg" />
          <p>Product Title:</p>
        </div>
        <div class="grid-item">
          <img src="http://i.imgur.com/UORFJ3w.jpg" />
          <p>Product Title:</p>
        </div>
    </div>
</div>

</div>

  <!-- script references -->
</html>
