@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'mains';
/* PROFILE IMAGE ON NAV BAR */
.profile-img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
/* ======================== */

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#e0e0e0;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.navbar-default {background-color:#f4f4f4;margin-top:50px;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}
.navbar{
	z-index: 3;
}
#height_nav{
  height:65px;
}
.navbar .header{
	background-color:#000033;
	color:white !important;
    display:none;
    opacity:.9;
    position:absolute;
    top:0px;
    width:100%;
}
.header {
	border-width:0;
	color:white;
	background-color:transparent;
}
.form-control{
  display:block;
}
.row{
  width:1200px;
}
#top_nav{
  position:fixed;
  width:100%;
  z-index:10;
/*  margin-top: -100px;*/
}
#pic{
  height:475px;
  background: url(http://s28.postimg.org/58udauatp/49ae2d61_f85d_486f_a0e5_936c4ea1b743.jpg) no-repeat;
  -webkit-background-size: cover;
  width:100%;
  margin-bottom:10px;
}
.col-md-2{
  width:195px;
  margin-right:-10px;
}
#search_box{
  width:250px;
}
.navbar{
  opacity:.9;
}
.navbar .navbar-fixed-top .header
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}

hr {border-color:#ececec;}
button {
 outline: 0;
}
textarea {
 resize: none;
 outline: 0; 
}
p {
  font-size:12px;
}
.panel .btn i,.btn span{
 color:#666666;
}
.panel .panel-heading {
 background-color:#ffffff;
 font-weight:700;
 font-size:16px;
 color:#262626;
 border-color:#ffffff;
}
.panel .panel-heading a {
 font-weight:400;
 font-size:11px;
}
.panel .panel-default {
 border-color:#cccccc;
}
.panel .panel-thumbnail {
 padding:0;
}
.panel .img-circle {
 width:50px;
 height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}
h3,h4,h5 { 
 border:0 solid #efefef; 
 border-bottom-width:1px;
 padding-bottom:10px;
}
.modal-dialog {
 width: 450px;
}
.modal-footer {
 border-width:0;
}
.dropdown-menu {
 background-color:#f4f4f4;
 border-color:#f0f0f0;
 border-radius:0;
 margin-top:-1px;
}

.navbar{
  margin-top:0px;
}
/* end theme */

/* masonry CSS */

.grid {
  background: white;

}

/* clear fix */
.grid:after {

  content: '';
  display: block;
  clear: both;

}

/* ---- .grid-item ---- */

.grid-sizer,

.grid-item {
  /* image margins on side for frame */
  width: 31%;
  margin: 10px;

}

.grid-item {
  float: left;
  background: white;

}
.grid-item p {
  padding: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}