#master_container{
	margin-top:100px;
	background-color:#D0D0D0;
	height:auto;
}
#product_nav{
	width:650px;
}
#price, #title{
	width:500px;
}
#description{
	display:block;
	width:500px;
	overflow:scroll;
}
#new_butt{
	margin-bottom:10px;
}
#new_product{
	padding-bottom: 10px;
}