// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#master_container{
	padding-top:15px;
}
.image{
	width:100%;
}
#right_container{
	background-color:#D0D0D0;
	padding-top:15px;
}
#lol{
	margin-bottom:30px;
}

/* GOOGLE MAPS STYLING */
