<div class="product box col2">
	<h4 class="text-center"><a href="/products/<%= product.id %>">
	<%= image_tag product.avatar.url(:medium) %>
		<%= product.title %> - <%= number_to_currency(product.price, precision:0) %><br>
	</h4></a>

</div>